/* CSS written in style.scss file. Refer to SCSS for review and edits */
/* || VARIABLE DECLARATION */

$accentColor: #1AD993;
$darkBackColor: #0D0D0D;
$lightBackColor: #262626;
$cardBackColor: #8C8C8C;
$text: #F2F2F2;

$headingFont: 'Raleway', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

$borderMargin: 2vh;

/* || GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text;
    font-family: $paragraphFont;
}

body {
    background-color: $lightBackColor;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}

@mixin heading-default($fontsize) {
    font-family: $headingFont;
    font-weight: bold;
    font-size: $fontsize;
    letter-spacing: 0.02rem;
}

h1 {
    @include heading-default(6rem);
}

h2 {
    @include heading-default(3rem);
    color: $accentColor;
}

h3 {
    @include heading-default(1.25rem);
}

a {
    text-decoration: none;
    h3 {
        transition: 0.5s;
        &:hover, :active {
            color: $accentColor;
        }
    }
}

p {
    line-height: 1.5;
    letter-spacing: 0.03rem;
}

ul {
    list-style-type: none;
}

#roletyper {
    height: 3rem;
}

/* || CONTAINERS */

/* Grids */
.grid-main {
    display: grid;
    grid-template-rows: 100vh auto;
    justify-items: center;
    max-width: 1280px; /* Limit container to max 1280px screen size */
    width: 100vw;
    height: 100vh;
}

.grid-content {
    display: grid;
}

/* Content containers */
.content-container {
    padding: 1.5rem;
    h3 {
        margin: 1rem 0;
    }
}

/* Page Sections */

.header {
    margin-top: $borderMargin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 80%;
    * {
        margin: 1rem 0;
    }
}

.footer {
    background-color: $darkBackColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 0 0;
    * {
        margin: 0.5rem 0;
    }
}

.about {
    margin-top: calc(2 * $borderMargin);
}

.projects {
    margin-bottom: $borderMargin;
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Project Cards */
.card-project {
    margin-bottom: 2rem;
    border-radius: 15px;
    max-width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 2rem;
    justify-content: center;
    transition: 0.5s;
    &:hover, :active {
        background-color: #2e2e2e;
    }
}

.head-m {
    margin-bottom: 1rem;
}

.tag-list {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.75rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #3a3a3a;
    font-weight: bold;
    transition: 0.3s;
    &:hover, :active {
        padding: 0.75rem 1rem;
    }
}

/* Layout Elements */

.sep-box {
    display: block;
    background-color: $accentColor;
    height: 5px;
    width: 150px;
    margin-bottom: 1.5rem;
}

.sep-box-light {
    display: block;
    background-color: $text;
    height: 1px;
    width: 30%;
    margin: 1.5rem 0;
}

.proj-image {
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: $cardBackColor;
    width: 100%;
}

.con-image {
    height: 2rem;
    margin: 0 0.5rem;
    transition: 0.5s;
    &:hover, :active {
        filter: brightness(70%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 3s;
}

/* Easy Scroll Dots 2.0.3 --- https://github.com/Superhands89/EasyScrollDots
* By Superhands89 2019-2022 --- https://github.com/Superhands89/
* GPLv3 Licence for open source use only
*/
.scroll-indicator-controller {
    position: fixed;
    top: 50vh;
    transform: translate(0, -50%);
    right: 10px;
    z-index: 999;
    
    &.indi-mobile > div span {
      display: none;
    }

    @media (min-width: 1024px) {
        right: 30px;
    }

    > div {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 50%;
        border: 1px solid $accentColor;
        background: rgba(38, 38, 38, 0.25);
        margin: 0 0 10px 0;
        cursor: pointer;
        transition: background 0.5s ease;
        will-change: transition;

        span {
            color: $accentColor;
            position: absolute;
            right: calc(100% + 8px);
            white-space: nowrap;
            top: 50%;
            font-family: $paragraphFont;
            font-size: 1rem;
            line-height: 1.1rem;
            width: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-50%) translateX(10px);
            transition: all 0.4s ease;
            will-change: transition;
            
            @media (hover: none) {
                display: none;
            }

            &:after {
                content: "-----";
                padding-left: 5px;
                letter-spacing: -2px;
                font-family: arial, sans-serif;
                vertical-align: text-top;
                line-height: 14px;
            }
        }

        @media (hover: hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
            &:hover {

                span {
                    width: auto;
                    opacity: 1;
                    overflow: visible;
                    transform: translateY(-50%) translateX(0px);
                }
            }
        }

        &.active {
            background: $accentColor;
            border-color: rgba(38, 38, 38, 0.25);
        }
    }
}
// old edge version 18 and below
@supports (-ms-ime-align:auto) {
    .scroll-indicator-controller > div span {
        transition: opacity 0.4s ease;
    }
}

/* || MEDIA QUERIES */

@media (max-width: 1024px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .grid-main {
        height: 100%;
        row-gap: 3rem;
        max-width: 100vw;
    }

    .grid-content {
        max-width: 100vw;
    }

    .about {
        margin-top: 0;
    }

    .projects {
        margin-bottom: 0;
    }

    .content-container {
        max-width: 100vw;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    img {
        margin-bottom: 1.5rem;
    }

    .grid-main {
        grid-template-rows: 100vh auto;
    }

    .card-project {
        padding: 1rem;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0;
        justify-content: center;
    }

    #roletyper {
        height: 1.5rem;
    }
}